@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root {
    --main-font: 'Roboto', sans-serif;
    --header-color: black;
    --bg-color: #282A3A;
    --primary-color: #FFC93C;
    --link-hover: white;
}

*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-family: var(--main-font);
    font-weight: bold;
    height: 100vh;
}
main{
    padding: 10vh 1rem 1rem 1rem;
}

main > *{
    min-height: 90vh;
    padding-top: 1rem;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
    list-style: none;
    margin-left: 1rem;
}

nav a{
    color: var(--primary-color);
    text-decoration: none;
    display: block;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0.5rem;
    flex-basis: auto;
    margin-top: 1.7vh;
}

nav a:hover{
    color: var(--link-hover);
    background-color: var(--bg-color);
}

header{
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    
    background-color: var(--header-color);
    width: 100vw;
    z-index: 2;
}

.home{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.profilephoto > img{
    height: 70vh;
    border: var(--primary-color) 10px solid;
    border-radius: 50%;
}

.about > p{
    margin: 1rem auto;
    text-align: justify;
}

.about ul{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.about li{
    list-style-position: inside;
}

section:nth-child(2n){
    text-align: right;
}

.cardcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contact, .projects {
    position: relative;
    top: -2rem;
    z-index: 0;
}

.contact{
    min-height: 80vh;
}

h1{
    font-size: 3rem;
    padding-top: 5rem;
}

h2{
    font-size: 1.5rem;
}

.card{
    border: var(--primary-color) 2px solid;
    border-radius: 10px;
    height: 100px;
    width: 100px;
    text-align: center;
    padding-top: 0;
}

.card a{
    font-size: 5rem;
    display: block;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0.5rem;
    text-decoration: none;
}

.card a:visited{
    color: var(--primary-color);
}

.card a:hover{
    color: var(--link-hover);
}

footer{
    height: 10vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--header-color);
    width: 98.6vw;
    margin: 0;
    padding: 0;
    z-index: 2;
}
